body{
    font-family: "raleway";
    }


.navigation
{
    display:flex;
    justify-content: flexbetween; 
    align-items: center;
    
}
.lien
{
display:flex;
justify-content: space-around;
align-items:flex-end
}

.lien
{
    width: 85%;
    margin-left: 60%;
    margin-top: 1%;

}

.blochébergement
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.style1
{
    color: black;
    text-decoration: none;
}

.style2
{
    color:black;
    text-decoration: none;
}

.bordure
{
    border-top: 2px solid transparent;
    
}
  .bordure:hover 
{
    border-top: 1px solid #0065fc;
    cursor: pointer;

}
  .bordure:hover > a 
{
    color: #0065fc;
}
.margin
{
    margin-left: 2%;
    margin-top: 2%;
}

/* RECHERCHE*/

.margintext
{
    margin-left: 2%;
}

h1
{
    font-weight: bold;
    font-size: 15px;
}

p
{
    font-size: 12px;
}

.bordurefiltre 
{
    width: 300px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
    margin-left: 2%;
}

.formulaire
{
    display:flex;
    justify-content: flexbetween; 
    align-items: center;   
}


.icone
{
    font-size: 12px;
    border-width: 200px ;
    border-radius: 0 10px 10px 0;
    display:flex;
    align-items:center;
    padding: 1em;
    background-color: #f2f2f2;
}

.recherche
{
    height: 50px;
    width: 300px;
    font-size: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button
{
    height: 50px;
    width: 230px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;

}

::placeholder
{
    font-weight: bold;
    color: black;
}


/*filtre*/

.filtres
{
    display: flex;
    align-items :center;
}

.margefiltre
{
    margin-left: 2%;
    margin-right: 2%;
}

.borduretexteicone
{
    border: 0,5px;
    border: solid #f2f2f2 ;
    height: 40px;
    border-radius: 30px;
    margin-right: 20px;
   
}

.alignimagetexte
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.borduretexteicone:hover > .filtre-texte 
{
    color: #0065fc;
}

.borduretexteicone:hover > .bordureicone 
{
    color: white;
    background-color: #0065fc;
}

.filtre-texte 
{
    height: 50px;
    width: 100%;
    margin-top: 35px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
    font-size: 13px;

}

h3
{
    font-size: 13px;
}


.bordureicone  
{
    border-radius: 25px;
    width: 40px;
    height: 40px;
    color:blue;
    background-color: lightblue;
}

.imagecentre
{
    display: flex;
    justify-content: center;
    align-items: center; 
}


.texticone
{
    border-radius: 10px;
}
.filtreicons
{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: blue;
    background-color: lightblue;
}
/*ligne informations*/

.informations
{
    display: flex;
    align-items: center;
}

.sizepolice

{
    font-size: 12px;
}

.icone
{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;

}

.iconeinformation
{
color: blue;
margin-right: 1%;
margin-left: 1%;
}


.alignement
{
display: flex;
justify-content: center;
align-items: center;
}

.padding
{
    padding-left: 3%;

}

.margetexte
{
    margin-left: 2%;
}

/* HÉBERGEMENTS A MARSEILLE*/

.blocgeneral
{
  display: flex;
  justify-content: center;
 
}

.generalborder
{

    height: 500px;
    width: 1800px;
    border-radius: 2%;
    margin-left: 3%;
    background-color: #f2f2f2 ;
}

h2
{
    padding-left: 2%;
}

.alignement1
{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}


.borderimagetext
{
    border:11px;
    border-radius: 10%;
    width: auto;
    height: auto;
    margin-left: 2%;
    margin-top: 2%;
    background-color: white;
    padding: 1%
}

.style3
{    
    font-weight: bold;  
    font-size: 10px;
    margin-top:4%;
    margin-bottom: 1%;
}


.policesize
{
    font-size: 13px;
    font-weight: bold;
}

.policesize2

{
    font-size: 11px
}

.sizephoto
{
    height:90px;
    width:190px;
    border-radius: 15px 15px 0 0

}

.starcolor1
{
    color:blue;
}
.starcolor2
{
    color: lightgray ;
}

.sizestars
{
    font-size:  12px;
}

.margintopleft
{
    margin-left: 2%;

}

/*les plus populaires*/

.generalborder2
{
    height: 500px;
    width: 900px;
    border-radius: 2%;
    background-color: #f2f2f2;
    margin-right: 2%;
    margin-left:2%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
   

}


.style4
{
    margin-top:10px;
    margin-left: 4%;
    font-size: 10px;
}

.alignimagetext
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.borderimagetext2
{
    border:11px;
    border-radius: 15px;
    width: 80%;
    margin-left: 25px;
    margin-top: 5px;
    background-color: white;
    padding: 1%;
}

.alignementtextestar

{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }


.imagesize2
{
    height:90px;
    width:100px;
    border-radius: 15px 15px 15px 15px;
    padding: 1%;
   
}


/*activités à Marseille*/

.alignactivités
{
    display: flex;
   justify-content: row;

}



.bordertexteimage3
{
    
    width: auto;
    height: auto;
  border-radius: 15px;
  box-shadow: 6px 6px 6px lightgray;
  margin-left: 3%;
}
 
.bordertexteimage4
{
    
    width: auto;
    height: auto;  
  border-radius: 15px;
  box-shadow: 6px 6px 6px lightgray;
  margin-left: 25%;
  
  
}
.bordertexteimage5
{
    
    width: 250px;
    height: 12px;
  border-radius: 15px;
  box-shadow: 6px 6px 6px lightgray;
  margin-left: 25%;
  
}

.bordertexteimage6
{
    
    width: auto;
    height: auto;
  border-radius: 15px;
  box-shadow: 6px 6px 6px lightgray;
  margin-left: 10%;
}
.bordertexteimage7
{
    
    width: 200px;
    height: 140px;
  border-radius: 15px;
  box-shadow: 6px 6px 6px lightgray;
  margin-left: 20%;
}
.bordertexteimage8
{
    
    width: 200px;
    height: 150px;
  border-radius: 15px;
  box-shadow: 6px 6px 6px lightgray;
  margin-left: 20%;
  margin-top: 2px;
}
.sizephoto1 
{
  width: 250px;
  height: 330px;
  border-radius: 15px 15px 0 0;

}

.sizephoto2

{
    width: 250px;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
}
.sizephoto3
{
   
    width: 250px;
    height: 100px;
    border-radius: 15px 15px Opx 0px;
   
}
.sizephoto4
{
    
    width: 250px;
    height: 330px;
    border-radius: 15px 15px 0px 0px;
    
}
.sizephoto5
{
   
    width: 200px;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
    
}
.sizephoto6
{
    width: 200px;
    height: 120px;
    border-radius: 15px 15px 0px 0px;

}


   
/*pied de page */


.lien 
{
    text-decoration:none;
    font-style: decoration none; 
    color: black ;
   
}


.police
{
    font-size: 14px;
    
}

.borderfooter

{
    width:1200px;
    height:200px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0%;
    margin-right: 0;

}

.borderfooter1

{
    margin:auto;
    
}

.borderfooter2

{
    margin:auto;
}





.bold
{
    font-weight: bold;
}